* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.navBar {
  display: flex;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 10px 30px;
}

input {
  width: 300px;
  height: 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0 12px;
}

.navBar > div {
  margin: 0 10px;
}

.navBar h1 {
  margin: 0;
}
